{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">클래식 음악 저장소</h1>
    <p class="lead">파이썬 플라스크(Flask)로 웹 서비스 만들기 연습을 위해 제작되었습니다.<br>원하는 작곡가를 선택하세요.</p>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 mx-5">
    {% for music in musics %}
    <div class="col mb-4">
        <div class="card h-100">
            <a href="/{{ music["href"] }}">
                <img style="width: 100%; aspect-ratio: 1 / 1;" src="/static/{{ music["href"] }}.jpeg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <a href="/{{ music["href"] }}" class="text-reset"><h5 class="card-title">{{ music["title"] }}</h5></a>
                <p class="card-text">{{ music["intro1"] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}